{% extends 'header.html'%}

{% block content %}
      <div class="nav">
          <h2>– LATEST TRANSFERS –</h2>
          <table class="content-nav">
            <thead>
              <tr>
                <td>#player</td>
                <td>from</td>
                <td>to</td>
                <td>
                  transfer fee, <br />
                  mill. euro
                </td>
                <td>
                  transfer fee, <br />
                  mill. euro, <br />
                  by tft.com
                </td>
              </tr>
            </thead>
          </table>
        </div>
      <div class="latest-transfers" style="padding-top:90px">
        <table class="players">
          {% for transfer in transfers %}
          <tr>
            <td>{{forloop.counter}}.{{transfer.player.ism}}</td>
            <td>{{transfer.club_eski}}</td>
            <td>{{transfer.club_yangi}}</td>
            <td>{{transfer.narx}}</td>
            <td>{{transfer.taxmin_narx}}</td>
          {% endfor %}
          </tr>
        </table>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta sequi quia eos cupiditate rerum accusantium odit enim, expedita, architecto error dignissimos voluptatibus. Nisi illo, maiores fugit amet neque eveniet!</p>
      </div>
{% endblock %}