{% extends 'header.html' %}
{% block content %}

      <div class="nav">
        <h2>– TRANSFERS ARCHIVE –</h2>
        <table class="content-nav"></table>
      </div>
      <div class="content">
        <div class="stats">
          {% for mavsum in mavsumlar%}
          <div>
            <a href="./{{mavsum}}/transfers">{{mavsum}} - Season</a>
          </div>
          {% endfor %}
          <div>
            <a href="/latest_transfers/">Latest-transfers</a>
          </div>
        </div>
      </div>
{% endblock %}